{% load staticfiles %}
<div class="navbar-default sidebar" role="navigation" id="sidebar">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            {% comment %}
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            {% endcomment %}

            <li class="active">
                <a href="{% url 'index' %}">
                    <i class="fa fa-table fa-fw"></i> Reports
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">

                    <li>
                        <a href="{% url 'performance_reports' %}">Performance summary report</a>
                    </li>
                </ul>
            </li>

            <li class="active">
                <a href="{% url 'index' %}"><i class="fa fa-line-chart fa-fw"></i> Dashboard <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
  
                    <li>
                        <a href="{% url 'dashboard_gbvqaatool' %}"><b>GBV QA</b></a>
                    </li>
                    
                    <li>
                        <a href="{% url 'performance_reports' %}">Nutrition</a>
                    </li>

                    <li>
                        <a href="{% url 'performance_reports' %}"><b>WASH</b></a>
                    </li>
                </ul>
            </li>
 
            {% if user.is_staff %}
            <li>
                <a href="{% url 'index' %}"><i class="fa fa-table fa-fw"></i> Data Capture/Entry <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'de_gbv_qaa_tool' %}"><b>GBV QAA Tool</b></a>
                    </li>    

                    <li>
                        <a href="{% url 'getdbv_qa_data' %}"><b>GBV Trial</b></a>
                    </li>  
                    
                    <li>
                        <a href="{% url 'postgbvqaData' %}"><b>GBV QA Data Entry</b></a>

                    </li>  

                    <li>
                        <a href="{% url 'testsplitform' %}"><b>GBV Slit Form Test</b></a>

                    </li>  
                    

                </ul>
            </li>
            {% endif %}
           
            <li>
                <img src="{% static 'cannula/lockup_uhausaid_log.png' %}" height="50%" width="100%"/>
            </li>
    </div>
</div>
</nav>