{% extends "startmin/base.html" %} 
{% block heading %} UHA Reports -Quarterly and Annualy {% endblock %}
{% block page-header %} Reports {% endblock %}
{% block title %}UHA Performance Monitoring Tool-Reports{% endblock %} 
{% block content %}

<style>

	.collapsibleone {
		background-color: white;
		color: white;
		cursor: pointer;
		padding: 2px;
		width: 50%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
		color: #0000EE;
	}

	.collapsibleone:hover {
		background-color: #f1f5f7;
	}
	.content {
		padding: 0 18px;
		display: none;
		overflow: hidden;
		background-color: white;
	}
</style>

<style>
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}

	th {
		padding: 3px;
	}

	td {
		padding: 2px;
	}
</style>

<h4>Quarterly Performance Summary report</h4>

<ul>
	<li>
		<a href="{% url 'q_reports_sites_2022_to_2023' %}">FY 23 Q1 and Q2</a>
	</li>

</ul>

<h4>Annual Performance Summary Report</h4>

<ul>
	<li>
		<a href="{% url 'reports_sites_2022_to_2023' %}">FY 23 </a>
	</li>

</ul>

<script>
	var coll = document.getElementsByClassName("collapsibleone");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function () {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.display === "block") {
				content.style.display = "none";
			} else {
				content.style.display = "block";
			}
		});
	}
</script> 
{% endblock %}