{% extends "startmin/base.html" %} 
{% block title %} UHA Performance Monitoring Tool - PFM {% endblock %} {% block heading %} PFM Tracker {% endblock %} 
{% block content %}

<html>
        <!--Put your embedded code here-->
<iframe title="PFM Activity Tracker" width="1210" height="580" src=https://app.powerbi.com/view?r=eyJrIjoiYjY4ZDhlNzAtYjU5MC00OGVmLWIyMDItYTJmMGVlZDIyMzA3IiwidCI6IjAxMDMxYTUxLWVhMWQtNDdkNi05ODhhLWQ2NjU3MjVhOWIyMiIsImMiOjF9 filterPaneEnabled=true frameborder="1" allowFullScreen="true">

</iframe>

</html>
{% endblock %}